body{
    background: url(../lib/login/background.png) no-repeat center center fixed;
    background-size: cover;
}

.container{
    background-color: rgb(0,0,0,0.7);
    color: white;
    border-radius: 10px;
}
.form-control{
    background-color: rgba(63, 63, 63, 0.3) !important;
    border: none !important;
    color: white !important;
}

.barra{

    background-color: rgb(0,0,0,0.7);
}
.btn-dark{
    background-color: black;
    border: none;
}