.red {
    position: relative;
    bottom: 100px;
    background-color: rgb(0, 0, 0, 0.7);
    border: solid black 3px;
    border-radius: 20px;
    max-width: 650px;
    color: white;
    margin-top: 0px !important;
}


body {
    background: url(../lib/img/fondo-back.png) no-repeat center center fixed;
    background-size: cover;

    /* min-height: 100vh; */
}

.registrarse {

    margin-left: 60px;
}

.labelemail,
.labelpassword {
    margin-bottom: 10px !important;
}

.row-imagen {

    height: 300px;
    display: flex;
    justify-content: center;

}

.titulo {
    position: relative;
    bottom: 90px;

    width: 500px;
    height: 400px;
}

.barra {

    background-color: rgb(0, 0, 0, 0.7);
}

.logo {

    width: 100px;
    height: 100px;

}